.container.body-container {
    border-radius: 7px;
    min-height: 500px;
}

.form-control {
    width: 100%;
}

#title-div {
    padding-top: 50px;
}

#form-div {
    padding-top: 20px;
}

#results-div {
    display: none;
}

.title,
#origin-location-form,
#destination {
    text-align: center;
}

.footer {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    font-size: 12px;
    line-height: 1.5;
    color: #586069;
    border-top: 1px solid #eaecef;
}

.footer-links {
    margin: 0;
    list-style: none;
}

.footer-links li {
    display: inline-block;
    padding-right: 10px;
    font-size: 10px;
}

.float-right {
    float: right !important;
}
