<!doctype html>
<html>
<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <title>{% block head %}HEAD HERE{% endblock %}</title>

</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-header">
        <a class="navbar-brand" href="/">AirAnywhere</a>
      </div>
        
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  {% block content %} CONTENT HERE {% endblock %}

  <div class="container">
    <div class="footer" role="contentinfo">

      <ul class="footer-links float-right">
        <li>Made with <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> by Olivia Bettaglio</li>
        <li>May 2017</li>
        <li><a href="https://linkedin.com/in/obettaglio">LinkedIn</a></li>
        <li><a href="https://github.com/obettaglio">GitHub</a></li>
      </ul>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>

  </script>

</body>
</html>