{% extends 'base.html' %}

{% block head %}AirAnywhere{% endblock %}

{% block content %}

<div id='homepage-container' class="container body-container">
  <div id='title-div' class='row'>
    <div class='col-lg-4'>
    </div>
    <div class='col-lg-4'>
      <h1 class='title'>AirAnywhere</h1>
    </div><!-- column -->
  </div><!-- title-div -->

  <div id='form-div' class='row'>
    <div class='col-lg-4'>
    </div>
    <div class='col-lg-4'>
      <div class='form-holder'>
        <form id='origin-airport-form'>
          <label for='origin'>Origin Location: </label>
          <input type='text' class='form-control' id='origin-airport-field' name='origin-airport' list='airport-list' placeholder='Select your airport'></br>
          <datalist id='airport-list'>
            {% for airport in airports %}
            <option value='{{ airport.name }}{% if airport.code %} ({{ airport.code }}){% endif %}'>
            {% endfor %}
          </datalist>
          <input type='submit' class='btn btn-primary btn-block' id='find-destination-btn' value='Find a Destination'>
        </form>
      </div><!-- form-holder -->
    </div><!-- column -->
  </div><!-- form-div -->

  <div id='results-div' class='row'>
    <h3 id='destination'></h3>
  </div><!-- results-div -->
</div><!-- homepage-container -->


{% endblock %}