{% extends 'base.html' %}

{% block head %}AirAnywhere{% endblock %}

{% block content %}

<div id='homepage-container' class="container">
  <div id='homepage-first-row' class='row'>

    <div class='homepage-outer-div'>
      <h1 class='homepage-main' id='homepage-title'>AirAnywhere</h1>
    </div>

    <div id='homepage-inner-div'>

      <div class='btn-holder'>
        <a href="/load-destination" class='btn btn-primary' id='load-destination-btn'>Find a Destination</a><br>
      </div>
    </div>

  </div>
</div>


{% endblock %}